* {
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	font-family: sans-serif;
}

h1 {
	margin: 0.5em 0 1em;
}
table {
	border-spacing: 0;
	margin: auto;
	border-collapse: collapse;
}

td {
	border: 1px solid gray;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	width: 20px;
	height: 20px;
	background: rgb(241, 241, 175);
}
input[type='checkbox']:checked {
	background: black;
}

#autoplay {
	margin-left: 50%;
}
